[submodule "BlackFriday.Server"]
	path = BlackFriday.Server
	url = https://github.com/M0r64na/BlackFriday.Server.git
[submodule "BlackFriday.Client"]
	path = BlackFriday.Client
	url = https://github.com/M0r64na/BlackFriday.Client.git
